/*Coded by Rosemary Canon*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace;
  background: #ea5252;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: "Bowlby One SC", cursive;
  font-size: 6vh;
  text-shadow: 5px 2px 10px #d9a59c;
}

#center {
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#word_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid black;
  background-color: #d9a59c;
  box-shadow: 5px 10px 5px rgba(65, 65, 65, 0.534);
  height: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#word {
  display: flex;
  text-align: left;
  white-space: pre;
  font-size: 40px;
  font-weight: bold;
}

#focus {
  color: yellow;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 40px;
}

#textbox {
  height: 25px;
  width: 60px;
}

#button,
#textbox {
  margin-right: 10px;
}

#wpmLabel {
  font-size: 18px;
}

footer {
  background-color: #d9a59c;
  padding: 5px;
  width: 100%;
}

#button{
  background: url('../images/play.png') no-repeat;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}